<div class="container">
    <mat-card class="post-card">
        <mat-card-header>
            <mat-card-title>
                
                    {{post.titlePost}}
    
                
                </mat-card-title>
        </mat-card-header>
        <img matCardImage [src]="post.imagePost">
        <mat-card-content>
            <p>
                {{ post.contentPost }}
            </p>
        </mat-card-content>
        <img matCardImage [src]= "post.image1Post">
        <mat-card-content>
            <p>
                {{ post.segmentPost }}
            </p>
        </mat-card-content>
        <img matcardimage [src]= "post.image2Post">
        <mat-card-content>
            <p>
                {{ post.descriptionPost }}
                {{ post.description1Post }}
            </p>
        </mat-card-content>


    
    </mat-card>>
    
        
    </div>